/* vim: set ts=4 sw=4 noet : */
html {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 12px;
}
body {
	margin: 0 auto;
}
section {
	margin-left: 260px;
	margin-bottom: 6em;
	width: 700px;
}
a {
	color: #408FEC;
	text-decoration: none;
	transition: color 0.1s linear;
}
a:hover {
	color: #105090;
	text-decoration: underline;
}
#title {
	margin-bottom: 4em;
}
.bold {
	font-weight: bold;
}
.important {
	color: #ff4742;
}
.tx,.blog_ref {
	margin-bottom: 2em;
	display: block;
}
#map {
	height: 100%;
	width: 100%;
	position: absolute; top: 0; left: 0;
	z-index: -10;
}
header {
	flex: 1 1;
	background-color: #FFF;
	position: absolute;
	display: block;
	width: 300px;
	height: 100%;
	border-right: 1px solid #efefef;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
}
header ul {
	list-style-type: none;
}
header .header {
	padding-left: 1em;
}
header ul li {
	padding: 0;
}
header div.copyright {
	padding-left: 1em;
	font-size: 10px;
}
header div.header .header_img {
	margin: 0 auto;
	width: 5em;
	height: 5em;
	background-image: url("/static/img/burrito.svg");
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 1em;
}
.review_pane {
	transition: .2s ease-in-out;
	flex: 2 1;
	background-color: #FFF;
	position: absolute;
	display: block;
	width: 30vw;
	height: 100%;
	border-left: 1px solid #efefef;
	right: 0;
	left: 100vw;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
	padding-left: 1em;
}
.review_pane.active {
	left: 70vw;
}
li.location > a.active {
	color: #FF4742;
}
.review_pane .review_stars {
	list-style: none;
}
.review_stars > li {
	padding-bottom: 2em;
}
.review_pane .horizontal_line {
	width: 95%;
	padding-top: 2em;
	border-bottom: 1px solid #efefef;
}
