<!-- vim: set ts=4 sw=4 noet : -->
<!DOCTYPE html>
<html>
	<head>
		<title>PDX Burrito Review -     About

</title>
		<meta name="description" content="Portland Burrito Reviews">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<link type="text/css" rel="stylesheet" href="/static/css/main.css" >

		
	</head>
	<body>
		<div id="app">
			<header>
				<div class="header">
					<div class="header_img"></div>
					<p v-if="loading">Loading...</p>
					<div v-if="!loading">
						<p>Neighborhoods</p>
						<p>Northwest:</p>
						<ul>
							<li is="BurritoStoreLI"
								v-bind:value="value"
								v-for="(value, key) in reviews.NW"
								:key="value.uuid">
							</li>
						</ul>
						<p>Northeast:</p>
						<ul>
							<li is="BurritoStoreLI"
								v-bind:value="value"
								v-for="(value, key) in reviews.NE"
								:key="value.uuid">
							</li>
						</ul>
						<p>Southeast:</p>
						<ul>
							<li is="BurritoStoreLI"
								v-bind:value="value"
								v-for="(value, key) in reviews.SE"
								:key="value.uuid">
							</li>
						</ul>
						<p>Southwest:</p>
						<ul>
							<li is="BurritoStoreLI"
								v-bind:value="value"
								v-for="(value, key) in reviews.SW"
								:key="value.uuid">
							</li>
						</ul>
						<p>Downtown:</p>
						<ul>
							<li is="BurritoStoreLI"
								v-bind:value="value"
								v-for="(value, key) in reviews.Downtown"
								:key="value.uuid">
							</li>
						</ul>
					</div>
				</div>
				<div class="copyright">
					<p>Burrito by Denis Sazhin from the Noun Project</p>
					<p>© Copyright 2019 <a href="http://q.pfiffer.org/">Quinlan Pfiffer</a></p>
				</div>
			</header>
		</div>
		<div id="map"></div>
	</body>
	<script type="text/javascript">
		Vue.component('BurritoStoreLI', {
			props: ['value'],
			template: '<li>{{value.name}}</li>'
		});
		const app = new Vue({
			el: "#app",
			data: {
				loading: true,
				reviews: [],
				map: null,
				selectedUUID: null
			},
			methods: {
				addPoints: function() {
					const self = this;
					for (const key in self.reviews) {
						const region = self.reviews[key];
						for (const store of region) {
							if (store.lat && store.lng)
								L.marker([store.lat, store.lng]).addTo(self.map);
						}
					}
				},
				load: function() {
					const self = this;
					fetch("/data/reviews.json").then(function(data) {
						data.text().then(function(asText) {
							const parsedData = JSON.parse(asText);
							self.reviews = parsedData;
							self.loading = false;
							// Probably a race condition here waiting on map load, but whatever.
							self.addPoints();
						})
					});
				},
				buildMap: function() {
					const self = this;
					self.map = L.map('map').setView([45.5155, -122.6793], 13);
					L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
						attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
						maxZoom: 18,
						id: 'mapbox.streets',
						accessToken: 'pk.eyJ1IjoicXBmaWZmZXIiLCJhIjoiY2p4bWdobmphMDNvOTNicWhmbm9jaXJhNSJ9.W5lmNhX-Fdl1ejdoIhVmDg'
					}).addTo(self.map);
				}
			},
			created: function() {
				this.load();
				this.buildMap();
			}
		});
	</script>
</html>
