<!-- vim: set ts=4 sw=4 noet : -->
<!DOCTYPE html>
<html>
	<head>
		<title>PDX Burrito Review -     The Map

</title>
		<meta name="description" content="Portland Burrito Reviews">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<link type="text/css" rel="stylesheet" href="/static/css/main.css" >

		    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
       integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
       crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
       integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
       crossorigin=""></script>


	</head>
	<body>
		<div id="app">
			<header>
				<div class="header">
					<div class="header_img"></div>
					<p v-if="loading">Loading...</p>
					<div v-if="!loading">
						<p>Eat burritos die young</p>
						<div v-for="ngh in neighborhoods">
							<p>{{ngh[1]}}</p>
							<ul>
								<li is="BurritoStoreLI"
									v-bind:value="value"
									v-bind:map="map"
									v-for="(value, key) in reviews[ngh[0]]"
									:key="value.uuid">
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<p>Burrito by Denis Sazhin from the Noun Project</p>
					<p>© Copyright 2019 <a href="http://q.pfiffer.org/">Quinlan Pfiffer</a></p>
				</div>
			</header>
		</div>
		<div id="map"></div>
		<template v-on:showReviewPane="showReviewPaneF" v-if="shouldShowReviewPane">
			<div class="review_pane">
				<h3>Name of place</h3>
			<div>
		</template>
	</body>
	<script type="text/javascript">
		Vue.component('BurritoStoreLI', {
			props: ['map', 'value'],
			methods: {
				onClick: function(e) {
					e.preventDefault();
					const self = this;
					const latLngs = [ self.value.mapMarker.getLatLng() ];
					const markerBounds = L.latLngBounds(latLngs);
					self.map.fitBounds(markerBounds);
					self.$emit('showReviewPane');
				}
			},
			template: '<li><a v-on:click="onClick" href="#">{{value.name}}</a> </li>'
		});
		const app = new Vue({
			el: "#app",
			data: {
				loading: true,
				neighborhoods: [
					['NW', 'Northwest'],
					['NE', 'Northeast'],
					['SE', 'Southeast'],
					['SW', 'Southwest'],
					['Downtown', 'Downtown'],
				],
				shouldShowReviewPane: false,
				reviews: [],
				map: null,
				selectedUUID: null
			},
			methods: {
				showReviewPaneF: function() {
					console.log("CALLED");
					this.shouldShowReviewPane = true;
				},
				addPoints: function() {
					const self = this;
					for (const key in self.reviews) {
						const region = self.reviews[key];
						for (let store of region) {
							if (store.lat && store.lng)
								store.mapMarker = L.marker([store.lat, store.lng]).addTo(self.map);
						}
					}
				},
				load: function() {
					const self = this;
					fetch("/data/reviews.json").then(function(data) {
						data.text().then(function(asText) {
							const parsedData = JSON.parse(asText);
							self.reviews = parsedData;
							self.loading = false;
							// Probably a race condition here waiting on map load, but whatever.
							self.addPoints();
						})
					});
				},
				buildMap: function() {
					const self = this;
					self.map = L.map('map').setView([45.5155, -122.6793], 13);
					L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
						attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
						maxZoom: 18,
						id: 'mapbox.streets',
						accessToken: 'pk.eyJ1IjoicXBmaWZmZXIiLCJhIjoiY2p4bWdobmphMDNvOTNicWhmbm9jaXJhNSJ9.W5lmNhX-Fdl1ejdoIhVmDg'
					}).addTo(self.map);
				}
			},
			created: function() {
				this.load();
				this.buildMap();
			}
		});
	</script>
</html>
