<!-- vim: set ts=4 sw=4 noet : -->
<!DOCTYPE html>
<html>
	<head>
		<title>PDX Burrito Review - xXx TITLE xXx</title>
		<meta name="description" content="Portland Burrito Reviews">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<link type="text/css" rel="stylesheet" href="/static/css/main.css" >

		xXx INCLUDES xXx
	</head>
	<body>
		<div id="app">
			<header>
				<div class="header">
					<div class="header_img"></div>
					<p v-if="loading">Loading...</p>
					<div v-if="!loading">
						<p>Eat burritos die young</p>
						<div v-for="ngh in neighborhoods">
							<p>{{ngh[1]}}</p>
							<ul>
								<li is="BurritoStoreLI"
									v-bind:value="value"
									v-bind:map="map"
									v-for="(value, key) in reviews[ngh[0]]"
									:key="value.uuid">
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<p>Burrito Logo by Denis Sazhin from the Noun Project</p>
					<p>© Copyright 2019 <a href="http://q.pfiffer.org/">Quinlan Pfiffer</a></p>
					<p>Get the <a href="https://github.com/qpfiffer/pdxburritoreview.com">code here.</a></p>
				</div>
			</header>
			<review-pane></review-pane>
		</div>
		<div id="map"></div>
	</body>
	<script type="text/javascript" src="/static/js/app.js"></script>
</html>
