xXx PARENT=templates/base.html xXx
xXx INCLUDES xXx
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
xXx TTYL xXx
xXx TITLE xXx
    The Map
xXx TTYL xXx
xXx HEADER xXx
    <div class="header">
        <div class="header_img"></div>
        <p>Places:</p>
        <ul>
            xXx LOOP location locations xXx
                <li>xXx location$name xXx</li>
            xXx BBL xXx
        </ul>
    </div>
xXx TTYL xXx
