xXx PARENT=templates/base.html xXx
xXx INCLUDES xXx
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
       integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
       crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
       integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
       crossorigin=""></script>
xXx TTYL xXx
xXx TITLE xXx
    The Map
xXx TTYL xXx
xXx HEADER xXx
    <div class="header">
        <div class="header_img"></div>
        <p>Places:</p>
        <ul>
            xXx LOOP location locations xXx
                <li>xXx location$name xXx</li>
            xXx BBL xXx
        </ul>
    </div>
xXx TTYL xXx
